@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root
{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --font-family: 'Red Hat Display', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family);
    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-size: 100%;
    background-color: hsl(225, 100%, 94%);

  }

  .main-div {
    background-color: var(--White);
    width: 275px;
    height: 440px;
    border: 1px solid var(--Light-gray);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 4px 0 var(--Shadow);
}




@media (max-width: 500px) {
    body {
      background-image: url("./images/pattern-background-mobile.svg") no-repeat;
      background-size: 100%;
      background-color: hsl(225, 100%, 94%);
    }
}
